<div class="row">
  <div class="col">
    <div class="activity-container">
      <div class="activity-top-left">
        <h2 class="activity-header">New</h2>
        <span class="activity-text"><%= @new_activity.title %></span>
      </div>
      <span class="activity-date"><%= @new_activity.start_time.strftime('%Y-%m-%d') %></span>
      <% if @new_activity.image.attachment %>
        <%= image_tag @new_activity.image, class: "activity-image" %>
      <% end %>
    </div>
  </div>
  <div class="col">
    <div class="activity-container">
      <div class="activity-top-left">
        <h2 class="activity-header">Featured</h2>
        <span class="activity-text"><%= @new_activity.title %></span>
      </div>
      <span class="activity-date"><%= @new_activity.start_time.strftime('%Y-%m-%d') %></span>
      <% if @new_activity.image.attachment %>
        <%= image_tag @new_activity.image, class: "activity-image" %>
      <% end %>
    </div>
  </div>
</div>

<% @activities.each do |activity| %>
  <%= activity.title %>
  <%= activity.description %>
  <%= activity.event_type.name %>
<% end %>
